.main {
    background-color: #F1CC36;
    border: 2px solid #FADD69;
    box-shadow: 2px 2px #C6A726,
                -2px 2px #C6A726,
                2px -2px #C6A726,
                -2px -2px #C6A726,
                -2px 6px #C6A726,
                2px 6px #C6A726;
    border-radius: 4px;
    cursor: pointer;
    padding: 0.5rem 1rem;
    user-select: none;

    &:focus {
        outline: none;
    }
}
