@import '~animations.less';
@import '~constants.less';

.row {
    display: flex;
    align-items: center;

    margin-bottom: @GUTTER;
    &:last-of-type {
        margin-bottom: 0;
    }

    .word1, .word2 {
        flex: 1;
        animation: fadeInScaleDown @TRANSITION_GAME_OVER both;
    }

    .space {
        flex: none;
        width: 1rem;
    }

    .word2 {
        animation-delay: @TRANSITION_GAME_OVER;
    }

    .restart {
        margin: auto;
        width: 50%;
    }
}
