@import '~constants.less';

.verticalMain {
    display: flex;
    align-items: center;
    height: 100%;

    .horizontalMain {
        flex: 1;

        display: flex;
        align-items: flex-end;
        justify-content: center;

        .queue {
            flex: none;
            width: @TILE_SIZE;
        }

        .board {
            flex: none;
            width: @TILE_SIZE * @NUM_BOARD_COLS;
            position: relative;

            .gameOverOverlay {
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: @GAME_OVER_Z_INDEX;
                .positionFill();
            }
        }
    }
}
