@import '~constants.less';

.board, .queue {
    display: inline-block;
    vertical-align: bottom;
}

.board {
    position: relative;

    .gameOverOverlay {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: @GAME_OVER_Z_INDEX;
        .positionFill();
    }
}
