@import '~animations.less';
@import '~constants.less';

.row {
    display: flex;
    align-items: center;

    margin-bottom: @GUTTER;
    &:last-of-type {
        margin-bottom: 0;
    }

    .col {
        flex: 1;
    }

    .spacer {
        flex: none;
        width: 1rem;
    }

    .button {
        cursor: pointer;
    }
}
