@import '~animations.less';
@import '~constants.less';

@keyframes pulse {
    from { transform: scale(0.9, 0.9); }
    to { transform: scale(1.0, 1.0); }
}

.tile, .tileGoo, .tilePreview {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.tile {
    .positionFill();

    .tileGoo {
        z-index: @ZINDEX_GOO;
        .positionFill();
    }

    .tilePreview {
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 5px;
        cursor: pointer;
        opacity: 0;
        z-index: @ZINDEX_PREVIEW;
        .positionFill();
    }
}

.tile.demoHover .tilePreview,
.tilePreview:hover {
    opacity: 1;
    animation: pulse @TRANSITION_HOVER ease-in-out infinite alternate;
}

// Don't show the preview while tiles are animating in and out.
:global(.board-enter), :global(.board-leave) {
    .tilePreview:hover {
        visibility: hidden;
    }
}
