@import '~animations.less';
@import '~constants.less';

.tile, .tileGoo, .tilePreview {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.tile {
    @backgroundZIndex: -1;
    @gooZIndex: 1;
    @previewZIndex: 2;

    display: inline-block;

    width: @TILE_SIZE;
    height: @TILE_SIZE;

    position: relative;
    &::before {
        background-image: url('../../../public/images/back-tile.png');
        background-size: cover;
        content: "";
        opacity: 0.5;
        z-index: @backgroundZIndex;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .tileGoo, .tilePreview {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .tileGoo {
        animation: fadeIn @TRANSITION;
        z-index: @gooZIndex;
    }

    .tilePreview {
        background-color: rgba(0, 0, 0, 0.6);
        cursor: pointer;
        z-index: @previewZIndex;

        opacity: 0;
        &:hover {
            opacity: 0.8;
        }
    }
}
