@import '~constants.less';

@keyframes fadeIn {
    from { opacity: 0; } to { opacity: 1; }
}

@keyframes fadeInScaleDown {
    from { opacity: 0; transform: scale(1.5); }
    to { opacity: 1; transform: scale(1); }
}

@keyframes drift {
    0% { opacity: 0; transform: scale(0.5); }
    50% { opacity: 1; transform: scale(1); }
    100% { opacity: 0; transform: scale(1.5); }
}

// -------- Straight paths --------

@keyframes flowUpToDown {
    from { clip-path: inset(0% 0% 100% 0%); }
    to { clip-path: inset(0% 0% 0% 0%); }
}

@keyframes flowDownToUp {
    from { clip-path: inset(100% 0% 0% 0%); }
    to { clip-path: inset(0% 0% 0% 0%); }
}

@keyframes flowLeftToRight {
    from { clip-path: inset(0% 100% 0% 0%); }
    to { clip-path: inset(0% 0% 0% 0%); }
}

@keyframes flowRightToLeft {
    from { clip-path: inset(0% 0% 0% 100%); }
    to { clip-path: inset(0% 0% 0% 0%); }
}

// Aliases that are a little easier to think about
@left: 0%;
@right: 100%;
@up: 0%;
@down: 100%;

// -------- Curved paths --------

@keyframes flowUpToRight {
    from { clip-path: polygon(@right @up, @left @up, @left @up, @left @up); }
    to { clip-path: polygon(@right @up, @left @up, @left @down, @right @down); }
}

@keyframes flowRightToUp {
    from { clip-path: polygon(@right @up, @right @down, @right @down, @right @down); }
    to { clip-path: polygon(@right @up, @right @down, @left @down, @left @up); }
}

@keyframes flowRightToDown {
    from { clip-path: polygon(@right @down, @right @up, @right @up, @right @up); }
    to { clip-path: polygon(@right @down, @right @up, @left @up, @left @down); }
}

@keyframes flowDownToRight {
    from { clip-path: polygon(@right @down, @left @down, @left @down, @left @down); }
    to { clip-path: polygon(@right @down, @left @down, @left @up, @right @up); }
}

@keyframes flowDownToLeft {
    from { clip-path: polygon(@left @down, @right @down, @right @down, @right @down); }
    to { clip-path: polygon(@left @down, @right @down, @right @up, @left @up); }
}

@keyframes flowLeftToDown {
    from { clip-path: polygon(@left @down, @left @up, @left @up, @left @up); }
    to { clip-path: polygon(@left @down, @left @up, @right @up, @right @down); }
}

@keyframes flowLeftToUp {
    from { clip-path: polygon(@left @up, @left @down, @left @down, @left @down); }
    to { clip-path: polygon(@left @up, @left @down, @right @down, @right @up); }
}

@keyframes flowUpToLeft {
    from { clip-path: polygon(@left @up, @right @up, @right @up, @right @up); }
    to { clip-path: polygon(@left @up, @right @up, @right @down, @left @down); }
}

:global(.board-enter) {
    transition: transform @TRANSITION_PLACE, opacity @TRANSITION_PLACE;
}
:global(.is-replacing.board-enter) {
    transition-delay: @TRANSITION_BOOM;
}
:global(.board-enter) {
    opacity: 0;
    transform: scale(0.5);
}
:global(.board-enter.board-enter-active) {
    opacity: 1;
    transform: scale(1);
}

:global(.board-leave) {
    background-image: url(../public/images/boom.svg);
    animation: drift @TRANSITION_BOOM both;
}
