@GUTTER: 1rem;
@NUM_QUEUE_TILES: 5;
@TILE_SIZE: 100px;
@TRANSITION_QUEUE: 300ms;
@TRANSITION_HOVER: 500ms;
@TRANSITION_BOARD: 500ms;
@TRANSITION_GAME_OVER: 1000ms;

@GRAY: #D9D9D9;
@DARK_GRAY: #777777;

@GAME_OVER_Z_INDEX: 5;

.positionFill() {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
